<footer>
    <div class=footerImages>
        <img class="imageTechswitch" style="z-index: 4" src=https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Techswitch/original.png?1602715502 />
        <img class="imageSoftwire" style="z-index: 4" src=https://res.cloudinary.com/dgx8goyms/images/f_auto,q_auto/v1603174722/softwire-logo/softwire-logo.png />
        <script src="/js/app.js"></script>
    </div>

</footer>