<header id="header">
    <nav>
        <ul >
            <li class="navigationList" ><a href="/">Home</a></li>
            <li class="navigationList"  style="z-index: 4"><a href="/posts">Posts</a></li>
            <li class="navigationList"  style="z-index: 4"><a href="/users">Users</a></li>
            <li class="navigationList"  style="z-index: 4" id="newPostNavLink"><a href="/post/create">+ New Post</a></li>

        </ul>
    </nav>
</header>