<header>
    <nav>
        <ul>
            <li><h1 style="z-index: 4">MyFace</h1></li>
            <li><a href="/">Home</a></li>
            <li style="z-index: 4"><a href="/posts">Posts</a></li>
            <li style="z-index: 4"><a href="/users">Users</a></li>
            
            <li style="z-index: 4" id="newPostNavLink"><a href="/post/create">+ New Post</a></li>
        </ul>
    </nav>
</header>