<header id="header">
    <nav id="nav">
        <a id="myFace" href="#">My Face</a>
        <a class="navLinks" href="/">Home</a>
        <a class="navLinks" href="/posts">Posts</a>
        <a class="navLinks" href="/users">Users</a>
        <a id="navNewPost" class="navLinks" href="/post/create">+ New Post</a>

        <img class="headerImg" style="z-index: 4" src=https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Techswitch/original.png?1602715502 />
        <img class="headerImg" style="z-index: 4" src=https://res.cloudinary.com/dgx8goyms/images/f_auto,q_auto/v1603174722/softwire-logo/softwire-logo.png />
    </nav>
</header>