<header>
    <nav>
        <ul>
            <li><h1>MyFace</h1></li>
            <li><a href= /users/<%= id %>Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            
            <li id="newPostNavLink"><a href="/post/create">+ New Post</a></li>
        </ul>
    </nav>
</header>