<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form method="post" action="/posts/create">
    <label class="CreatePost">
        Message:
        <!-- <input type="textarea" name="message"/> -->
        <input class="InputText" type="textarea" name="message" required>
    </label>
    <label class="CreatPostUrl">
        ImgUrl:
        <input type="url" name="imageUrl" required>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>