/* Add your styles here. */
* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}
/* 
header {
    height: 50px;
    background-color: #232f34;
    display: flex;
    padding: 5px 0;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    text-align: center;
}

header a:hover {
    color: orange;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}*/

body {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    color: black;
    display: block ;
  
}
/*
ol{
    padding-inline-start: 0px;
    list-style: none;
}

li form {
    padding: 3px;
    display: inline-block;
}

.message {
    font-size: 20px;
}

button {
    background-color: #F9AA33;
    color: black;
}

button:hover{
    background-color: #6000fc;
    color: black;
}

img {
    box-sizing: border-box;
    width: 100%;
}

.likes {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}


/* form {
    display: flex;
    flex-direction: column; 
    width: 50%;

}

form label {
    width: 40%;
    margin-bottom: 3%;
} */

/*

@media screen and (min-width: 1000px ) {

    .infoText {


    }
    
}

@media screen and (min-width: 600px ) {

    *{
        padding: 0;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        flex-grow: 1;
        width: 40%;
        margin: 2%;
        padding: 0.5%;
        padding-bottom: 3%;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 1%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }   

    li img {
        height: 300px;
        object-fit: cover;
    }

    li p {
        font-size: 5%;
    }

    .text {
        height: 15%;
    }

}

@media screen and (min-width: 1000px) {

    li {
        
        width: 0%;
        flex-grow: 1
    }   

    ol:nth-child(3n) {

        flex-grow: 5;
      
      }

}
 */

.userPage{
    background-color: #252A38;
    margin: 24px;
    padding: 0;
    font-family: 'Segoe UI', "Open Sans", sans-serif;
    z-index: 2; 
       
}

.imageCover{
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    background-position: center;
    z-index: -1;
}


.profileBlock{ 
    position: fixed;
    width:100%;
    top: 150px;  
    left: 100px;
    background-color: #70252A38;
    display: inline-flex;
}



.profileBlock h1, .profileBlock h2 {
    color: white;
    padding: 4px; 
}


.imageProfile{
    height: 120px;
    width:120px;
    position:relative;
    top:0;
    left:0;
    border-radius: 50%;
    border:3px solid rgb(255, 255, 255);
    float: left;
    
}

.profileBlockInfo {
    margin-left: 15%;
}



