/* Add your styles here. */
/* * {
    margin: 0;
    padding: 0;
} */

#header {
    display: none;
}

header {
    height: 50px;
    background-color: black;
    display: flex;
    padding: 5px 0;
}

.navigationList {
    list-style: none;
    display: inline;
    width: 100%;
    
}

header a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    text-align: center;
}

header a:hover {
    color: orange;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
} 

body {
    box-sizing: border-box;
    width: 100%;
    background-color: #252A38;
    color: white;
    display: block ;
    /* margin: 48px; */
    font-family: 'Segoe UI', "Open Sans", sans-serif;
  
}

ol{
    padding-inline-start: 0px;
    list-style: none;
}

li form {
    padding: 3px;
    display: inline-block;
    list-style: none;
}

.message {
    font-size: 20px;
}

/* button {
    background-color: #F9AA33;
    color: black;
    display: inline;
} */

button:hover{
    background-color: #6000fc;
    color: black;
}

/* img {
    box-sizing: border-box;
    width: 100%;
} */

.likeForm {
    display: inline;
}
.likes {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #F9AA33;
}


form {
    display: inline;
    flex-direction: column; 
    width: 50%;

}

form label {
    width: 40%;
    margin-bottom: 3%;
}



@media screen and (min-width: 1000px ) {

    .infoText {


    }
    
}

@media screen and (min-width: 600px ) {

    *{
        padding: 0;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts {
        flex-grow: 1;
        width: 40%;
        height: fit-content;
        margin: 2%;
        padding: 0.5%;
        padding-bottom: 3%;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 1%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }  

    li img {
        height: 300px;
        object-fit: cover;
    }

    /* li p {
        font-size: 5%;
    } */

    .text {
        height: 15%;
    }

}

@media screen and (min-width: 1000px) {

    li {
        
        width: 0%;
        flex-grow: 1
    }   

    ol:nth-child(3n) {

        flex-grow: 5;
      
      }

}


.userPage{
    background-color: #252A38;
    margin: 48px;
    font-family: 'Segoe UI', "Open Sans", sans-serif;
    z-index: 2; 
       
}

.imageCover{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    background-position: center;
    z-index: -1;
}


.profileBlock{ 
    position: absolute;
    width:100%;
    top: 150px;  
    left: 100px;
    background-color: #70252A38;
    display: inline-flex;
}

.profileBlock h1 {
    color: white;
    font-size: 24px;
    /* padding: 4px; */
}

.profileBlock h2 {
    /* color: white; */
    font-size: 14px;
}


.imageProfile{
    height: 120px;
    width:120px;
    position:relative;
    top:0;
    left:0;
    border-radius: 50%;
    border:3px solid rgb(255, 255, 255);
    float: left;
}

.profileBlockInfo {
    margin-left: 0%;
}
.imageTechswitch{
    height:100px;
    position: relative;
    height: 50px;
    bottom: 0;
    
}

footer{
    

}

.posts {
  padding-top: 5%;
}

.post {
    list-style: none;
    float: left;
    width: 250px;
    margin: 10px;
    padding: 0 10px;
    color: white;
}

.posts p {
    font-size: 14px;
}



