/* Add your styles here. */
* {
    margin: 0.5%;
    padding: 0;
    font-family: Calibri, sans-serif;
    align-content: center;
}

header {
    /* height: 75; */
    background-color: #232f34;
    display: flex;
    padding: 5px 0;
    position:sticky;
    top:0;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    text-align: center;
}

header a:hover {
    color: orange;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
}

body {
    box-sizing: border-box;
    width: 90%;
    background-color: rgb(241, 239, 239);
    color: black;
    display: block;
    margin: 1rem;
    justify-content:center;
  
}

ol{
    padding-inline-start: 0px;
    list-style: none;
}

li form {
    padding: 3px;
    display: inline-block;
}

.message {
    font-size: 20px;
}

.infoText {
    font-size: 15px;
    color: darkgray;
}

.navigation {
    display:block;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

img {
    box-sizing: content-box;
    width: 100%;
}

button {
    background-color: #F9AA33;
    color: black;
}

button:hover{
    background-color: #6000fc;
    color: black;
}

.likes {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline;
}


@media screen and (min-width: 600px ) {

    *{
        padding: 0.5%;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        flex-grow: 1;
        width: 45%;
        margin: 2%;
        padding: 0.5%;
        padding-bottom: 3%;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 1%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }   

    li img {
        height: 300px;
        object-fit: cover;
    }

    li p {
        font-size: 5%;
    }

    .text {
        height: 15%;
    }

}

@media screen and (min-width: 1000px) {

    li {
        /* width: 0%; */
        flex-grow: 1
    }   

    ol:nth-child(3n) {

        flex-grow: 5;
      
      }

}